.form {
  display: flex;
  flex-direction: column;

  &__label {
    display: flex;
    flex-direction: column;
    font-size: .75rem;
    color: $primary-black;
    margin-bottom: 1rem;
  }

  &__label--expiration {
    width: 70%;
  }

  &__label--cvc {
    position: relative;
    width: 25%;
  }

  &__label__tooltip {
    position: absolute;
    text-align: center;
    cursor: pointer;
    right: 25%;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid $light-grey;
  }

  &__label__tooltip__text {
    visibility: hidden;
    width: 145px;
    left: 85%;
    top: -20%;
    background-color: $primary-green;
    color: $primary-white;
    text-align: center;
    padding: 5px 2px;
    border-radius: 4px;
    position: absolute;
    z-index: 1;
  }

  &__label__tooltip__text:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent $primary-green transparent transparent;
  }

  &__label__tooltip:hover  ~&__label__tooltip__text {
    visibility: visible;
  }

  &__input {
    margin-top: .5rem;
    padding: .75rem;
    border: 1.5px solid $light-grey;
    border-radius: 4px;
  }

  &__input:focus {
    outline: none;
    -webkit-box-shadow: 0 0 2px 1px $primary-blue;
    box-shadow: 0 0 2px 1px $primary-blue;
  }

  &__input::placeholder {
    color: $light-grey;
  }

  &__cc-dates {
    display: flex;
    justify-content: space-between;
  }

  &__select {
    background: #F9FAFA;
    color: #85888c;
  }

  &__checkbox {
    position: relative;
    cursor: pointer;
    width: 40%;
    font-size: .75rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: .5rem;
  }

  &__checkbox &__label__tooltip {
    right: 4%;
  }

  &__checkbox &__label__tooltip__text {
    left: 102%;
  }

  &__checkbox__input {
    margin-right: .5rem;
  }

  &__submit {
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 40%;
    margin: .5rem 0 1rem;
    background: $button-purple;
    color: $primary-white;
    font-family: 'Open Sans', sans-serif;
    border-radius: 24px;
    padding: .75rem;
    border: none;
  }

  &__submit__icon {
    height: 20px;
    margin-left: 5px;
  }

  &__submit:hover {
    background: $button-purple-dark;
  }

  &__secure {
    display: flex;
    align-items: center;
  }

  &__secure__icon {
    height: 20px;
  }

  &__secure__text {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .65rem;
    color: $primary-black;
    margin-left: .25rem;
  }
}